language: bash
services: docker

env:
  - VERSION=7.1 VARIANT=stretch/cli
  - VERSION=7.1 VARIANT=stretch/apache
  - VERSION=7.1 VARIANT=stretch/fpm
  - VERSION=7.1 VARIANT=stretch/zts
  - VERSION=7.1 VARIANT=alpine3.8/cli
  - VERSION=7.1 VARIANT=alpine3.8/fpm
  - VERSION=7.1 VARIANT=alpine3.8/zts
  - VERSION=7.0 VARIANT=stretch/cli
  - VERSION=7.0 VARIANT=stretch/apache
  - VERSION=7.0 VARIANT=stretch/fpm
  - VERSION=7.0 VARIANT=stretch/zts
  - VERSION=7.0 VARIANT=alpine3.7/cli
  - VERSION=7.0 VARIANT=alpine3.7/fpm
  - VERSION=7.0 VARIANT=alpine3.7/zts

install:
  - git clone https://github.com/docker-library/official-images.git ~/official-images
  - grep -lr '/var/www/html' ~/official-images/test/tests/php-* | xargs sed -i -e 's!/var/www/html!/var/www/magento2!g'
  - sed -i -e 's!pdo_mysql!exif!g' ~/official-images/test/tests/php-ext-install/container.sh

before_script:
  - env | sort
  - cd "$VERSION/$VARIANT"
  - SUBVARIANT="${VARIANT#*/}"
  - image="php:${VERSION}-${SUBVARIANT}-${VARIANT%/*}"

script:
  - travis_retry docker build -t "$image" .
  - ~/official-images/test/run.sh "$image"

after_script:
  - docker images

# vim:set et ts=2 sw=2:
